hr        { border: 1px; color: black; background: black; height: 1px; } 
body      { font-family: Verdana, Arial, Helvetica, sans-serif; }
p, td, th, div, pre, li { color: black; font-size: 10pt; }
td        { vertical-align: text-top; }
a         { color: #2087bb; text-decoration: none;}
a:link    { color: #2087bb; text-decoration: none;}
a:visited { color: #2087bb; text-decoration: none;}
a:active  { text-decoration: none;}
a:hover   { color: #DD6900; text-decoration: underline;}

table         { width: 100%; }
th            { font-weight: bold;  color: black; background: #D3DCE3}
h1            { text-align: center; color: black; background: #FF6600; }
h2            { text-align: center; color: black; background: #FFCC33; }
h3            { text-align: left;   color: black; background: #FFCC66; }
a:link        { text-decoration: none;      color: #2087bb; background: transparent; }
a:visited     { text-decoration: none;      color: #2087bb; background: transparent; }
a:hover       { text-decoration: underline; color: #DD6900; background: transparent; }
a:link.nav    { color: #000000; background: transparent; }
a:visited.nav { color: #000000; background: transparent; }
a:hover.nav   { color: #FF0000; background: transparent; }
.nav          { color: #000000; background: transparent; }
tr            { background: #DDDDDD; color: black; }
tr.odd        { background: #DDDDDD; color: black; }
tr.even       { background: #EEEEEE; color: black; }

td.aname { white-space: nowrap; }
td.atype { white-space: nowrap; }
td.aarg  { font-size: small; font-family: 'Courier New', Courier, monospace; }
td.alength { font-size: small; font-family: 'Courier New', Courier, monospace; }
td.awidth { font-size: small; font-family: 'Courier New', Courier, monospace; }
td.acond { font-size: small; font-family: 'Courier New', Courier, monospace; }
